<%- include("header") %>
    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>
    <div class="box">

        <% for(var i=0;i<items.length;i++) {%>
            <div class="item">
                <input type="checkbox" />
                <p>
                    <%=items[i] %>
                </p>
            </div>
            <%} %>



                <form action="/" method="POST" class="item">
                    <input type="text" name="item" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="btnAdd" value=<%=listTitle %> >+</button>
                </form>
    </div>


    <%- include("footer") %>